{{ 'gallery.css' | asset_url | stylesheet_tag }}
<<<<<<< HEAD
<div id="you-may-enjoy" class="you-may-enjoy-wrapper scroll-trigger animate--slide-in">
=======
<div id="you-may-enjoy" class="you-may-enjoy-wrapper scroll-trigger animate--slide-in">
<<<<<<< HEAD
=======
=======
<<<<<<< HEAD
<div id="you-may-enjoy" class="you-may-enjoy-wrapper scroll-trigger animate--slide-in">
=======
<div id="you-may-enjoy" class="you-may-enjoy-wrapper article-template__content page-width page-width--narrow scroll-trigger animate--slide-in">
>>>>>>> 7d59103bc69533e6f2e920e97cdd61a0169f5450
>>>>>>> 1a9c5639fbc2f4a5e7c7d025a21a8f7d70097df2
>>>>>>> 1fe20e43126bdacc6116bc6ebbd6279e7d3b0fd2
>>>>>>> 69b761cd4e186274f52e026afd57e06423a05537
    <h3>{{ section.settings.title }}</h3>
    <div class="you-may-enjoy-gallery">
        {% for block in section.blocks %}            
            <div class="yme-card">
                <div>
                    <img src="{{ block.settings.image | image_url: width: 800 }}">
                </div>
                <h4>{{ block.settings.card_title }}</h4>
                <p>{{ block.settings.card_text }}</p>
            </div>
        {% endfor %}
    </div>
</div>

{% schema %}
    {
        "name": "you may enjoy",
        "settings": [
            {
                "type": "text",
                "id": "title",
                "label": "section title",
            }
        ],
        "blocks": [
            {
                "type": "yme-card",
                "name": "yme-card",
                "limit": 6,
                "settings": [
                    {
                        "type": "image_picker",
                        "id": "image",
                        "label": "image one"
                    },
                    {
                        "type": "text",
                        "id": "card_title",
                        "label": "card one title",
                    },
                    {
                        "type": "text",
                        "id": "card_text",
                        "label": "card one text",
                    },
                ]
            }
        ],
        "presets": [
            {
                "name": "you may enjoy"
            }
        ]
    }
{% endschema %}