{{ 'gallery.css' | asset_url | stylesheet_tag }}
<div id="you-may-enjoy" class="you-may-enjoy-wrapper scroll-trigger animate--slide-in">
    <h3>{{ section.settings.title }}</h3>
    <div class="you-may-enjoy-gallery article-template__content page-width page-width--narrow">
        {% for block in section.blocks %}            
            <div class="yme-card">
                <div>
                    <img src="{{ block.settings.image | image_url: width: 800 }}">
                </div>
                <h4 class="yme-card-title-{{ forloop.index }}">{{ block.settings.card_title }}</h4>
                <p class="ellipsis-3-lines index-{{ forloop.index }}">{{ block.settings.card_text }}</p>
            </div>
        {% endfor %}
        <a class="read-more button button--primary">
            {{ section.settings.link_btn }}
            {{ section.settings.link_btn }}
            <span class="mask"></span>
        </a>
    </div>
</div>

{% schema %}
    {
        "name": "you may enjoy",
        "settings": [
            {
                "type": "text",
                "id": "title",
                "label": "section title",
            },
            {
                "type": "text",
                "id": "link_btn",
                "label": "button text"
            },
        ],
        "blocks": [
            {
                "type": "yme-card",
                "name": "yme-card",
                "limit": 6,
                "settings": [
                    {
                        "type": "image_picker",
                        "id": "image",
                        "label": "image one"
                    },
                    {
                        "type": "text",
                        "id": "card_title",
                        "label": "card one title",
                    },
                    {
                        "type": "text",
                        "id": "card_text",
                        "label": "card one text",
                    },
                ]
            }
        ],
        "presets": [
            {
                "name": "you may enjoy"
            }
        ]
    }
{% endschema %}