{{ 'supplements-grid.css' | asset_url | stylesheet_tag }}

<div id="supplements-{{ section.id }}" class="supplements">

    <div class="supplements__info">
        <h2>{{ section.settings.title }}</h2>
        <p>{{ section.settings.text }}</p>
    </div>

    <div class="supplements__products-grid">
        {% if section.settings.product_list %}
            <ul
                class="grid-layout"
                role="list"
            >
                {% for product in section.settings.product_list %}
                    <li class="my-grid__item">
                        <div class="my-grid__item-img-wrapper">
                            <img src="{{ product.featured_image | image_url: width: 800 }}">
                        </div>
                        <div class="my-grid__item-info">
                            <h3 class="title">{{ product.title }}</h3>
                            <span class="description">{{ product.description }}</span>
                            <span class="price">{{ product.price | money }}</span>
                        </div>
                        <form method="post" action="/cart/add">
                            <input type="hidden" name="id" value="{{ product.variants.first.id }}">
                            
                            <button type="submit" class="btn btn--add-to-cart button button--primary">
                              Add to Cart
                              <span class="mask"></span>
                            </button>
                          </form>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>

    <a href="{{ section.settings.button_link }}" class="button button--primary">
        {{ section.settings.button_text }}
        <span class="mask"></span>
    </a>

</div>

{% schema %}
    {
        "name": "supplements",
        "settings": [
            {
                "type": "text",
                "id": "title",
                "label": "Supplements title"
            },
            {
                "type": "text",
                "id": "text",
                "label": "Supplements text"
            },
            {
                "type": "product_list",
                "id": "product_list",
                "label": "Product list",
                "info": "Select 4 products you want to display",
                "limit": 4
            },
            {
                "type": "url",
                "id": "button_link",
                "label": "Button link",
            },
            {
                "type": "text",
                "id": "button_text",
                "label": "Button text",
            }
        ],
        "presets": [
            {
                "name": "supplements"
            }
        ]
    }
{% endschema %}
