{{ 'syn-support.css' | asset_url | stylesheet_tag }}
<style>
    #syn-support {
        background: {{  section.settings.bg_color }};
    }
    #syn-support h2,
    #syn-support p {
        color: {{  section.settings.txt_color }};
    }
</style>
<div id="syn-support">
    <div class="syn-support-wrapper">
        <h2 class="{% if section.settings.is_about_us == true %} about-us {% endif %}">{{ section.settings.title }}</h2>
        <p>{{ section.settings.subtitle }}</p>
        <div class="value-props">
            {% for block in section.blocks %}                
                <div class="value-prop__card">
                    <div class="vp-img-wrapper {% if section.settings.is_about_us == true %} about-us {% endif %}">
                        <img src="{{ block.settings.value_prop_image | image_url: width: 400 }}">
                        {% if section.settings.is_about_us == true %}
                            <p class="vp-title">{{ block.settings.value_prop_title }}</p>
                        {% endif %}
                    </div>
                    <p>{{ block.settings.value_prop_text }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

{% schema %}
    {
        "name": "syn support",
        "settings": [
            {
                "type": "text",
                "id": "title",
                "label": "Title"
            },
            {
                "type": "richtext",
                "id": "subtitle",
                "label": "Subitle here"
            },
            {
                "type": "color",
                "id": "bg_color",
                "label": "BG Color",
            },
            {
                "type": "color",
                "id": "txt_color",
                "label": "txt Color",
            },
            {
                "type": "checkbox",
                "id": "is_about_us",
                "label": "About us",
                "default": false
              }
        ],
        "blocks": [
            {
                "type": "value-prop",
                "name": "value-prop",
                "limit": 3,
                "settings": [
                    {
                        "type": "image_picker",
                        "id": "value_prop_image",
                        "label": "Value prop image"
                    },
                    {
                        "type": "richtext",
                        "id": "value_prop_text",
                        "label": "Value prop text"
                    },
                    {
                        "type": "richtext",
                        "id": "value_prop_title",
                        "label": "Value prop title"
                    }
                ]
            }
        ],
        "presets": [
            {
                "name": "syn support"
            }
        ]
    }
{% endschema %}